<?xml version="1.0" encoding="UTF-8"?>
<plugin>

	<extension
		id="product"
		point="org.eclipse.core.runtime.products">

		<product
			name="uk.co.saiman.msapex"
			application="org.eclipse.fx.ui.workbench.fx.application">

			<property
				name="appName"
				value="MSApex"/>

			<property
				name="applicationXMI"
				value="uk.co.saiman.msapex/Application.e4xmi" />

			<property
				name="cssTheme"
				value="theme.default" />
		</product>
	</extension>

</plugin>
