#uk-co-saiman-msapex-experiment-handledtoolitem-addexperiment {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book--plus.png");
}
#uk-co-saiman-msapex-experiment-handledtoolitem-runexperiment {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book-open-next.png");
}

.ModularTreeCell #supplementalText {
	-fx-opacity: 0.65;
}

.ModularTreeCell #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/node.png");
}

.ModularTreeCell :ExperimentNodeContribution #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/document.png");
}

.ModularTreeCell :RootExperimentNodeContribution #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book.png");
}

.ModularTreeCell:expanded :RootExperimentNodeContribution #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book-open.png");
}

.ModularTreeCell :SampleExperimentNodeContribution #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/flask.png");
}

.label:ExperimentLifecycleState-PROCESSING {
	-fx-graphic: url("${fugue.icon.runtime}/size16/clock.png");	
}
.label:ExperimentLifecycleState-COMPLETION {
	-fx-graphic: url("${fugue.icon.runtime}/size16/tick-circle.png");
}
.label:ExperimentLifecycleState-FAILURE {
	-fx-graphic: url("${fugue.icon.runtime}/size16/exclamation-red.png");
}

.ModularTreeCell :ExperimentResultContribution #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/document.png");
}

.ModularTreeCell :ExperimentResultContributionPresent #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/document-binary.png");
}
