:uk-co-saiman-msapex-experiment-cell-node-supplemental {
	-fx-opacity: 0.65;
	opacity: 0.65;
}

#uk-co-saiman-msapex-experiment-handledtoolitem-addexperiment {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book--plus.png");
}
#uk-co-saiman-msapex-experiment-handledtoolitem-runexperiment {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book-open-next.png");
}

ModularTreeCell :uk-co-saiman-msapex-experiment-cell-node :PROCESSING {
	-fx-graphic: url("${fugue.icon.runtime}/size16/clock.png");	
}
ModularTreeCell :uk-co-saiman-msapex-experiment-cell-node  {
	-fx-graphic: url("${fugue.icon.runtime}/size16/clock.png");	
}
ModularTreeCell :uk-co-saiman-msapex-experiment-cell-node :COMPLETION {
	-fx-graphic: url("${fugue.icon.runtime}/size16/tick-circle.png");
}
ModularTreeCell :uk-co-saiman-msapex-experiment-cell-node :FAILURE {
	-fx-graphic: url("${fugue.icon.runtime}/size16/exclamation-red.png");
}
