#optionalData {
	margin: 0;
	padding: 0;
}

.bName {
	display: inline-block;
}

.table_controls {
	display: flex;
}
.table_controls_left { margin-left: 1.0em; }
.table_controls_right {	flex-grow: 1; }

.ui-state-info-text {
	color: grey;
}

.dataTable table {
	width: 100%;
}
.dataTable input[type="text"] {
	width: 100%;
}

.symName { font-style: italic }
.symName:before { content: " (" }
.symName:after { content: ")" }

.filterClear {
	display: inline-block;
	vertical-align: middle;
}

#filter_container {
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}
#filter_container .pollButton {
	float: right;
}

#command_parameters { display: table; }
#command_parameters #parameter { display: table-row; }
#command_parameters #label { display: table-cell; }
#command_parameters #value {
	display: table-cell;
	width: 100%;
	padding-left: 1em;
}
#command_parameters #value input[type="text"] { width: 100%; }
