<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UISaiman -->
      <package
            uri="http://www.saiman.co.uk/eclipse/2018/UISaiman/ui"
            class="uk.co.saiman.eclipse.model.ui.MPackage"
            genModel="model/UISaiman.genmodel"/>
   </extension>

</plugin>
