#msapexDataChart .chart-series-line {    
    -fx-stroke-width: 1.0px;
    -fx-effect: null;
}

#msapexDataChart .chart-line-symbol {
    visibility: hidden;
}

#msapexDataChart:focused {
    -fx-border-color: -fx-focus-color;
    -fx-padding: -1;
}
