.view-toolbar-container * {
	-fx-alignment: center-right;
}

.label-header {
	-fx-font-size: 17.0pt;
}

.ModularTreeCell #supplementalText {
	-fx-opacity: 0.65;
}

.ModularTreeCell #text {
	-fx-graphic: url("${fugue.icon.runtime}/size16/node.png");
}
