<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated UISaiman -->
      <factory
            uri="http://www.saiman.co.uk/eclipse/2018/UISaiman/ui"
            class="uk.co.saiman.eclipse.model.ui.provider.ItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <virtualeditor
            id="uk.co.saiman.eclipse.model.ui.cell.contributions.virtual"
            class="uk.co.saiman.eclipse.model.ui.provider.editor.VCellContributionsEditor">
      </virtualeditor>
      <editor
            descriptorClass="uk.co.saiman.eclipse.model.ui.provider.editor.TreeEditorDescriptor">
      </editor>
      <editor
            descriptorClass="uk.co.saiman.eclipse.model.ui.provider.editor.CellEditorDescriptor">
      </editor>
      <editor
            descriptorClass="uk.co.saiman.eclipse.model.ui.provider.editor.HandledCellEditorDescriptor">
      </editor>
      <editor
            descriptorClass="uk.co.saiman.eclipse.model.ui.provider.editor.EditableCellEditorDescriptor">
      </editor>
      <editor
            descriptorClass="uk.co.saiman.eclipse.model.ui.provider.editor.CellContributionEditorDescriptor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.e4.workbench.model.definition.enrichment">
      <definitionEnrichment
            ePackageNS="http://www.saiman.co.uk/eclipse/2018/UISaiman/ui">
      </definitionEnrichment>
   </extension>

</plugin>
