#uk-co-saiman-msapex-experiment-handledtoolitem-addexperiment {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book--plus.png");
}

.ModularTreeCell > #graphic #supplemental {
    -fx-opacity: 0.5;
}

.ModularTreeCell > #graphic #name {
	-fx-graphic: url("${fugue.icon.runtime}/size16/node.png");
}

.ModularTreeCell:ExperimentNodeContribution > #graphic #name {
	-fx-graphic: url("${fugue.icon.runtime}/size16/document.png");
}

.ModularTreeCell:RootExperimentNodeContribution > #graphic #name {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book.png");
}

.ModularTreeCell:RootExperimentNodeContribution:expanded > #graphic #name {
	-fx-graphic: url("${fugue.icon.runtime}/size16/book-open.png");
}

.ModularTreeCell:SampleExperimentNodeContribution > #graphic #name {
	-fx-graphic: url("${fugue.icon.runtime}/size16/flask--arrow.png");
}

.ModularTreeCell:SpectrumExperimentNodeContribution > #graphic #name {
	-fx-graphic: url("${fugue.icon.runtime}/size16/spectrum.png");
}
