#main {
	width: 90.0% !important;
	margin-left: 5.0%;
}
#main img { border: none }


/* LOGO & BRANDING */
#lead {
	padding-top: 10.0px;
	margin: 0.0;
	height: 90.0px; /* must be the same as logo (#lead p) height */
}
#lead h1 { /* This contains the page title */
	font-size: 26.0px;
	font-weight: bold;
	float: left;
}
#lead p { /* This contains the logo */
	float: right;
	height: 90.0px; /* must be the same as #lead height */
}
#lead p img { /* This is the logo */
	height: 80.0px; /* must be #lead.height - #lead.padding-top */
}


/* TOP NAVIGATION */
#technav {
	font-size: 10.0px;
	line-height: 21.0px;
	padding: 0.0;
	margin: 0.0;
}
#technav div {
	display: inline;
	padding: 0.2em 1.0em;
	white-space: nowrap;
}

/* New Category Based Navigation Tree (FELIX-3769) */
#navmenu {
     width: auto;
}

#navmenu li.ui-menu-item {
     width: auto;
}

#navmenu li.navMenuItem-0 {
    display: inline-block;
}

/* Don't display caret on top-level menu (FELIX-3841) */
#navmenu li.navMenuItem-0 > a > span {
    display: none;
}

/* CENTRAL CONTENT AREA STYLING */
#content, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 8.0pt }


/* used in some plugins - showing ID (long) element in tables */
.col_Id {
	width: 5.0em;
}

/* styling button groups like in the bundles & log plugins */
.buttonGroup {
	text-align: right;
	padding: 0.5em 1.0em 0.5em 0.0;
	vertical-align: middle;
}
.buttonGroup select {
	display: inline;
	float: none;
	margin: 0.0;
}

/* The following styles are not complete. They usually apply only padding, 
 * margin... mostly *WHERE* the elements are visualised. Visual styling like
 * colors and fonts are applied automatically by a JavaScript that borrows
 * the visual element styles from the JQuery UI theme 
 */

/* input box, checkbox & buttons styling */
.inputText, input.text, input.password, input.file, textarea, select {
	color: #184054;
	background-color: #f0f0f0;
}
.inputText, input.text, input.password, textarea {
	border: 1.0px solid #999999;
	border-bottom: 1.0px solid #cccccc;
	border-right: 1.0px solid #cccccc;
}

/* tables styling - must be in synch with tablesorter CSS */
td, th { vertical-align: top }
table.nicetable {
	width: 100.0%;
	text-align: left;
}
table.nicetable th, table.nicetable td {
	border-bottom: 1.0px solid #cccccc;
	text-align: left;
	padding: 0.2em;
	padding-left: 0.8em;
}

/* tablesorter styling */
tr .header {
	background-image: url(../lib/bg.gif) !important;
	background-repeat: no-repeat !important;
	background-position: center right !important;
	cursor: pointer !important;
}
tr .headerSortUp {
	background-image: url(../lib/asc.gif) !important;
}
tr .headerSortDown {
	background-image: url(../lib/desc.gif) !important;
}

/* status line */
.statline {
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	padding: 0.2em;
}

/* zebra tables */
.even {
	/* default background unmodified from JQuery UI Theme */
}

.odd {
	/* overwrite background from JQuery UI Theme */
	background: none !important;
}

/*
 * Common UI style to define button icons like in bundles plugin. The HTML markup is:
 * <ul class="icons ui-widget">
 *   <li class="dynhover" title="tooltip comes here"><span class="ui-icon ui-icon-refresh">&nbsp;</span></li>
 * </ul>
 */
ul.icons {
	margin: 0.0;
	padding: 0.0
}
ul.icons span.ui-icon {
	float: left;
	margin: 0.0 1.0px
}
ul.icons li {
	margin: 1.0px;
	position: relative;
	padding: 1.0px 0.0;
	cursor: pointer;
	float: left;
	list-style: none
}
/* language selection element */
#langSelect { position: absolute; top: 5.0px; right: 5.0px }
#langSelect img   { display: block; padding: 2.0px 0.0 }
/* logout element */
.logoutButton { float: right; text-decoration: none }


.filterBox      { float: left; margin-left: 1.0em }
.servicesFilter { width: 400.0px; }
.servicesFilterApply { width: 85.0px; }
