#optionalData {
	margin: 0;
	padding: 0;
}

.filterClear {
	display: inline-block;
	vertical-align: middle
}
.bIcon, .bName {
	display: inline-block
}
.bIcon {
	float: left
}

.ui-state-info-text {
	color: grey;
}

.dataTable table {
	width: 100%;
}
.dataTable input[type="text"] {
	width: 100%;
}

.filterClear {
	display: inline-block;
	vertical-align: middle;
}

#filter_container {
	text-align: left;
	padding-left: 1em;
}
