#optionalData {
	margin: 0;
	padding: 0;
}

th.col_Symbolic_Name { width: 9em }
th.col_Version,
th.col_Status   { width: 7em }
th.col_Actions { width: 121px }
.symName                 { font-style: italic }
.symName:before { content: " (" }
.symName:after   { content: ")"  }
.filterClear        { display: inline-block; vertical-align: middle }
.bIcon, .bName   { display: inline-block }
.bIcon { float: left }

.ui-state-info-text { color: grey; }
